.form {
    width: 40rem;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

.form span {
    margin: auto;
    padding: auto;
}
.form-consulta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-title {
    font-size: xx-large;
    color: rgb(40, 40, 41);
    
}

.form-consulta span { 
    margin: 0.1rem;
    padding: 0.5rem;
}

.form-consulta input{
    width: 25rem;
    margin-left: 1rem;
    border-radius: 0.1rem;
    border: rgb(89, 92, 112) solid 0.01rem;
}

